---
import { PostCard } from "@components/PostCard";
import SectionContainer from "@components/SectionContainer.astro";
import { getCollection } from "astro:content";
import { getPosts } from "src/utils/getPosts";

const posts = (await getPosts()).slice(0, 5);
---

<SectionContainer title="Recent Posts" subtitle="...">
  <div class="grid gap-y-8">
    {posts.map((post) => <PostCard post={post} />)}

    <a href="/posts">More</a>
  </div>
</SectionContainer>
