---
import { ContentContainer } from "@components/ContentContainer";
import { Header } from "@components/Header";
import { HEADSHOT_WIDTH, Hero } from "@components/Hero";
import { PostCard } from "@components/PostCard";
import SectionContainer from "@components/SectionContainer.astro";
import Layout from "src/layouts/Layout.astro";
import { getOptimizedImageSrc } from "src/utils/getOptimizedImageSrc";
import { getPosts } from "src/utils/getPosts";
import _headshot from "@assets/headshot.png";

const posts = await getPosts();

const headshot = await getOptimizedImageSrc({
  src: _headshot,
  width: 2 * HEADSHOT_WIDTH,
});
---

<Layout title="Posts from Grant">
  <Header />
  <ContentContainer as="main" className="flex flex-col gap-y-32 py-12">
    <Hero title="I like to write." headshot={headshot} />
    <div class="grid gap-y-12">
      {posts.map((post) => <PostCard post={post} />)}
    </div>
  </ContentContainer>
</Layout>
