---
import type { CollectionEntry } from "astro:content";
import { format } from "date-fns";

type Post =
  | CollectionEntry<"externalPost">["data"]
  | CollectionEntry<"post">["data"];

interface Props {
  post: Post;
}

const { post } = Astro.props;
const pubDate = format(post.pubDate, "MMMM yyyy");
---

<div class="flex flex-col gap-y-3">
  <div>
    <div class="font-bold">{post.title}</div>
    <div class="text-black-light text-sm">{pubDate}</div>
  </div>
  <div class="text-sm">{post.description}</div>
</div>
