---
interface Props {
  title: string;
  subtitle: string;
}

const { title, subtitle } = Astro.props;
---

<div class="flex flex-col gap-y-10 text-black">
  <div>
    <h2 class="font-bold text-2xl font-fancy">{title}</h2>
    <div class="font-light text-subtle-copy text-lg">{subtitle}</div>
  </div>
  <slot />
</div>
